<% title = "Game Top" %>

<div class="text-center">
  <h1 class="text-3xl m-8 text-blue-500">トップページ(ログイン)</h1>
  <% c = CustomerPresenter.new(@customer, self) %>
  <p>顧客名：<%= c.full_name %>様</p>
  <p>アバター名：<%= @customer.avatar&.name %></p>
  <div>
    ToDoエリア
    <% @tasks.map do |task| %>
      <%= turbo_frame_tag task do %>
        <%= render "task_list", task: task %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "タスク新規作成", :new_task %>
</div>