<% title = "トップページ(ログイン)" %>

<div class="text-center">
  <h1 class="text-3xl m-8 text-blue-500"><%= title %></h1>
  <%= render "profile", customer: @customer %>
  <div>
    ToDoエリア
    <% @tasks.map do |task| %>
      <%= turbo_frame_tag task do %>
        <%= render "task_list", task: task %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "タスク新規作成", :new_task %>
</div>