<% title = "おかえりなさい" %>

<div class="text-center">
  <h1 class="text-3xl m-8"><%= title %></h1>
  <%= turbo_frame_tag @customer do %>
    <%= render "profile", avatar: @customer.avatar %>
  <% end %>
  <div>
    ToDoエリア
    <% @tasks.map do |task| %>
      <%= turbo_frame_tag task do %>
        <%= render "task_list", task: task %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "タスク新規作成", :new_task %>
</div>