<div>
  <label for="fuel"><%= label %></label>
  <meter 
    id="fuel"
    min=<%= min %> max=<%= max %>
    <%# low="33" high="66" optimum="80" %>
    value=<%= value %>
  >
  </meter>
  <%= content %>
</div>