<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A production ready example Rails app that's using Docker and Docker Compose.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col h-screen justify-between max-w-2xl my-0 mx-auto">
    <%= render "shared/header" %>
    <main class="max-w-2xl mb-auto">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
